.faq{
    @include component-size;
    h2{
        @include htwofont;
    }
}
.faq-list{
    li{
        margin: 7px 0;
    button{
        @include questionwindow;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }
    p{
        font-size: $font-size-medium;
        background-color: #444;
        padding: 0 10px;
        height: 0;
        opacity: 0;
        transition: 0.3s;
    }
    p.open{
        height: 100px;
        opacity: 1;
    }
    }
}