@mixin button-style{
    padding: 0.3rem 1rem;
    background-color: $primary-color;
    color: $text-color;
    border-radius: 5px;
    &:hover{
        // background-color: $hover-color;
        filter: brightness(0.7);
    } 
}

@mixin questionwindow{
    width: 100%;
    padding: 20px 10px;
    font-size: 22px;
    background-color: #444;
    color: #fff;
}

@mixin component-size{
    width: 65%;
    margin: 0 auto;
}

@mixin responsive($breakpoint){
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin htwofont{
    font-size: 40px;
    margin: 40px auto 10px;
}